body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f2f5;
    text-align: center;
}

header {
    background-color: #24292e;
    color: white;
    padding: 30px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #ddd;
}
